---
import BlogEntryCard from "../components/blog/BlogEntryCard.astro";
import Footer from "../components/shared/Footer.astro";
import Nav from "../components/shared/Nav.astro";
import SubPageLayout from "../layouts/SubPageLayout.astro";

import Blog1Image from "../img/blog/1.webp";
import Blog2Image from "../img/blog/2.webp";
import Blog3Image from "../img/blog/3.png";
import Blog4Image from "../img/blog/4.png";

import { slide } from "astro:transitions";

---

<SubPageLayout
title="LABSTUDIO | Blog"
ogTitle="LABSTUDIO | Blog"
description="Bienvenido al blog de Labstudiomedia, donde compartimos noticias, consejos y tendencias sobre fotografía profesional, producción de video, desarrollo web y videos aéreos con dron. Nuestro enfoque centrado en el cliente y nuestra pasión por la creatividad nos distinguen. Descubre cómo puedes potenciar tu marca con nuestras soluciones creativas."
ogDescription="Bienvenido al blog de Labstudiomedia, donde compartimos noticias, consejos y tendencias sobre fotografía profesional, producción de video, desarrollo web y videos aéreos con dron. Descubre cómo puedes potenciar tu marca con nuestras soluciones creativas en Los Mochis, Sinaloa."
keywords="Blog de fotografía, Blog de video, Consejos de desarrollo web, Tendencias en marketing digital, Fotografía profesional, Producción de video, Desarrollo web, Videos aéreos, Fotografía en Los Mochis, Producción audiovisual en Sinaloa"
>
  <Nav />

  <main class="w-100 d-flex flex-column align-items-center pb-12" transition:animate={slide({duration: '0.3s'})}>
    <div class="blog-container">
      <h1>Bienvenido a nuestro Blog: Innovación, Consejos y Estrategias de Marketing Digital</h1>

      <div class="d-flex flex-wrap pt-6 gap-control">
        <BlogEntryCard
          title="10 Motivos por los Cuales una Página Web es Importante para un Negocio"
          description="Descubre por qué tener una página web es esencial para tu negocio. Aquí te presentamos 10 razones clave para mejorar tu presencia en línea y aumentar tus ventas."
          image={Blog1Image}
        />
        <BlogEntryCard
          title="La Importancia del Diseño Responsivo en la Era Móvil"
          description="Descubre por qué el diseño responsivo es esencial en la era móvil. Aprende cómo un sitio web adaptable puede mejorar la experiencia del usuario y aumentar la conversión."
          image={Blog2Image}
        />
        <BlogEntryCard
          title="La Importancia de la Fotografía Profesional para tu Negocio"
          description="Descubre cómo la fotografía profesional puede mejorar la imagen de tu negocio, atraer más clientes y aumentar tus ventas. Aprende sobre los beneficios y la importancia de invertir en fotos de alta calidad."
          image={Blog3Image}
        />
        <BlogEntryCard
          title="Elige el Dron Perfecto para tus Proyectos"
          description="Descubre cómo elegir el dron perfecto para tus proyectos de grabación. Exploramos modelos como el DJI Mini 4, Air 3 y Mavic 3, con sus precios, funciones y características técnicas."
          image={Blog4Image}
        />
      </div>
    </div>
  </main>

  <Footer
    useMap={false}
  />
</SubPageLayout>

<script>

  const titlesList: NodeListOf<HTMLHeadingElement> = document.querySelectorAll('h2');

  // this function reconfigures the title of each card cutting the string for no text overlap in cards, cut in front-end for no lose SEO
  const fixCardsTitle = (onCutLength: number) => {
    titlesList.forEach(title => {
      let processedTitle: string = title.textContent;
      let beCut: boolean = false;

      if (processedTitle.length > (onCutLength)) {
        beCut = true;
        processedTitle = processedTitle.substring(0, onCutLength - 3);
      }

      if (processedTitle.endsWith(' ')) {
        processedTitle = processedTitle.substring(0, processedTitle.length - 1);
      }

      if (beCut) {
        processedTitle += '...';
      }

      title.textContent = processedTitle;
    });
  }

  if (window.innerWidth <= 857) {
    fixCardsTitle(57);
  }

  if (window.innerWidth <= 698) {
    fixCardsTitle(52);
  }

  if (window.innerWidth <= 643) {
    fixCardsTitle(46);
  }

  if (window.innerWidth <= 578) {
    fixCardsTitle(40);
  }

  if (window.innerWidth <= 506) {
    fixCardsTitle(32);
  }

  if (window.innerWidth <= 427) {
    fixCardsTitle(28);
  }

  if (window.innerWidth <= 387) {
    fixCardsTitle(26);
  }

  if (window.innerWidth <= 361) {
    fixCardsTitle(22);
  }

</script>

<style>
  .blog-container {
    padding-top: 4rem;
    width: 800px;
  }

  h1 {
    margin: 0;
    font-size: 2.6rem;
    font-weight: 600;
  }
  
  .gap-control {
    gap: 28px;
  }

  @media only screen and (max-width: 857px) {
    .blog-container {
      width: 700px;
      padding: 2rem 1rem 0 1rem;
    }
    h1 {
      font-size: 2.2rem;
    }
  }

  @media only screen and (max-width: 707px) {
    .blog-container {
      width: 96%;
      padding: 2rem 1rem 0 1rem;
    }    
    h1 {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 657px) {
    h1 {
      font-size: 1.8rem;
    }
  }
</style>