---
import Nav from "../components/Nav.astro";
import IndexLayout from "../layouts/IndexLayout.astro";

// images
import Cofee1 from "../img/labstudio/design/coffe-bran-cups.png";
import Cofee2 from "../img/labstudio/design/coffe-cup-min.jpeg";
import Cofee3 from "../img/labstudio/design/coffe-red-1.png";
import Cofee4 from "../img/labstudio/design/red-coffe-bag.jpeg";
import Footer from "../components/Footer.astro";
import PhotographyCard from "../components/PhotographyCard.astro";
---

<IndexLayout
  title="LABSTUDIO | Fotografia"
  ogTitle="LASBSTUDIO | Fotografia"
  description="Descubre nuestro mundo de Fotografía profesional en Los Mochis, Sinaloa. Desde retratos hasta fotografía de productos, en Labstudio Media capturamos momentos con precisión y creatividad para destacar tu marca."
  ogDescription="Descubre la excelencia en fotografía con Labstudio Media. Momentos capturados con precisión y creatividad para destacar tu marca. Desde retratos profesionales hasta fotografía de productos, nuestro equipo te brinda imágenes que cuentan historias."
  keywords="Fotografía profesional, Fotografía en Los Mochis, Fotografía en Sinaloa, Fotógrafo profesional, Estudio fotográfico, Fotografía de retratos, Fotografía comercial, Sesiones fotográficas, Fotografía creativa, Fotografía artística, Fotografía de eventos, Fotografía de productos, Fotografía México"
>
  <Nav />
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-12 col-md-4 position-md-sticky d-flex align-items-center vh-md-100"
        style="top: 0;"
      >
        <aside class="py-4 py-md-6 position-relative" style="top: -100px">
          <div class="img-fluid mb-4 text-body">
            <h1>Fotografia</h1>
          </div>
          <p class="fs-lg mb-7 text-body-secondary">
            Descubre la excelencia en fotografía con Labstudio. Momentos capturados con precisión y creatividad para destacar tu marca.
          </p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6 class="d-flex mb-0 text-uppercase">
                Year <span class="ms-auto">2019</span>
              </h6>
            </li>
            <li class="list-group-item">
              <h6 class="d-flex mb-0 text-uppercase">
                Service <span class="ms-auto">Photography</span>
              </h6>
            </li>
            <li class="list-group-item">
              <h6 class="d-flex mb-0 text-uppercase">
                Timeline <span class="ms-auto">60 Days</span>
              </h6>
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-12 col-md-7">
        <section class="pb-8 pt-md-8 pb-md-8">
          <a
            class="d-block"
            data-bigpicture={'{"imgSrc":"' + Cofee2.src + '"}'}
            href="#"
          >
            <img class="img-fluid rounded" src={Cofee2.src} alt="..." />
          </a>
          <a
            class="d-block mt-7"
            data-bigpicture={'{"imgSrc":"' + Cofee1.src + '"}'}
            href="#"
          >
            <img class="img-fluid rounded" src={Cofee1.src} alt="..." />
          </a>
          <a
            class="d-block mt-7"
            data-bigpicture={'{"imgSrc":"' + Cofee3.src + '"}'}
            href="#"
          >
            <img class="img-fluid rounded" src={Cofee3.src} alt="..." />
          </a>
          <a
            class="d-block mt-7"
            data-bigpicture={'{"imgSrc":"' + Cofee4.src + '"}'}
            href="#"
          >
            <img class="img-fluid rounded" src={Cofee4.src} alt="..." />
          </a>
        </section>
      </div>
    </div>
  </div>

  <!-- SHAPE -->
  <div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x text-light">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
    </div>
  </div>

  <section class="pt-7 pb-10 py-md-10 bg-light">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-12 col-md mb-2">
          <h2 class="mb-0">Conoce Nuestro Portafolio</h2>
          <p class="mb-0 text-body-secondary">
            Échale un vistazo a nuestros proyectos realizados.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <PhotographyCard 
            title="VolksWagen"
            location="Ciudad Obregon"
            image={Cofee1.src}
          />
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <PhotographyCard 
            title="Cocinas Modulares"
            location="Los Mochis"
            image={Cofee1.src}
          />
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <PhotographyCard 
            title="CUCII"
            location="Choix"
            image={Cofee1.src}
          />
        </div>
      </div>
    </div>
  </section>

  <Footer useMap={false} />
</IndexLayout>
