---
import IndexLayout from "../layouts/IndexLayout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// imagenes
import IntroImage from "../img/labstudio/pageImages/intro-image-2.webp";
import WebDev from "../img/labstudio/pageImages/webdev-ico.webp";
import Branding from "../img/labstudio/pageImages/branding-ico.webp";
import Rocket from "../img/labstudio/pageImages/rocket-ico.webp";
import WebTable from "../img/labstudio/pageImages/webTable.webp";
import Store from "../img/labstudio/pageImages/store-1.webp";
import GoogleBusiness from "../img/labstudio/pageImages/g-shadow.webp";
import VideoImage from "../img/labstudio/pageImages/videos-1.webp";
import BrandingImage from "../img/labstudio/pageImages/creative-branding.webp";

// brands
import AlferLogo from "../img/labstudio/brands/brands-alfer.webp";
import ValleyLogo from "../img/labstudio/brands/brands-valley-farms.webp";
import TonerLogo from "../img/labstudio/brands/brands-toner.webp";
import TotalLogo from "../img/labstudio/brands/brands-total.webp";
import SavingLogo from "../img/labstudio/brands/brands-pharmacy.png";
import CyberLogo from "../img/labstudio/brands/brands-cyber.webp";
import Card from "../components/Card.astro";

// cards images
import WhatsappBuisness from "../img/labstudio/pageImages/w-shadow.webp";
import Image from "astro/components/Image.astro";
import { Fade } from "../enums/Fade";
---

<IndexLayout 
  title="LABSTUDIO | Soluciones Digitales"
  ogTitle="LABSTUDIO | Soluciones Digital"
  description="En Labstudiomedia ofrecemos servicios de fotografía profesional, producción de video, desarrollo web personalizado y videos aéreos con dron. Nuestro enfoque centrado en el cliente y nuestra pasión por la creatividad nos distinguen. Con cada proyecto, nos comprometemos a brindar soluciones creativas que impulsen el éxito de tu marca. "
  ogDescription="En Labstudiomedia ofrecemos servicios de fotografía, producción de video, desarrollo web y videos aéreos con dron en Los Mochis, Sinaloa. Destaca con nuestra experiencia en medios digitales. Contáctanos hoy."
  keywords="Fotografía profesional, Servicios fotográficos en Los Mochis, Fotógrafo en Sinaloa, Sesiones fotográficas creativas, Fotografía de productos, Producción de video en Los Mochis, Videos corporativos, Edición de video profesional, Producción audiovisual en Sinaloa, Videos promocionales creativos, Diseño web personalizado, Desarrollo de sitios web en Los Mochis, Agencia de diseño web en Sinaloa, Desarrollo web responsive, Creación de tiendas en línea, Videos aéreos en Los Mochis, Filmación con dron en Sinaloa, Servicios de dron para eventos, Fotografía aérea profesional, Videos panorámicos con dron, Desarrollo de apps web en Los Mochis, Creación de aplicaciones web personalizadas, Desarrollo de software a medida, Aplicaciones web para negocios, Desarrollo de aplicaciones móviles web"
  >
  <Nav />
  <main>
    <section class="pt-4 pt-md-11">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">
            <Image
              src={IntroImage}
              alt="Ilustracion de introducción en la portada"
              class="img-introduction img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0"
              data-aos="fade-up"
              data-aos-delay="100"
            />
          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">
            <h1 class="display-3 text-center text-md-start">
              Bienvenido a <span class="lab-font-color">LABSTUDIO</span>. <br />
            </h1>
            <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
              Vemos un futuro donde todos los negocios físicos tienen presencia
              de manera digital.
            </p>
            <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
              Digitaliza tu negocio ahora mismo
            </p>
            <div class="text-center text-md-start">
              <a
                href="https://wa.me/526688257868"
                target="_blank"
                class="btn lab-back-color shadow lift me-1 text-light"
              >
                Mas Información <i
                  class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
              </a>
              <a
                href="https://www.tiktok.com/@labstudio.media"
                target="_blank"
                class="btn btn-primary-soft lift lab-font-color button-knowus"
              >
                Conócenos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="py-8 py-md-11 border-bottom">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-md-4"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon-continer mb-3">
                <img src={WebDev.src} alt="Ilustración sobre una pagina web" />
              </div>
              <a href="#web-design-scroll" class="link-scroller">
                Desarrollo Web
              </a>
              <p class="text-muted mb-0">
                Desarrollamos tu sitio web de tu negocio para que llegues a
                nuevos clientes.
              </p>
            </div>
            <div class="col-12 col-md-4" data-aos="fade-up">
              <div class="icon-continer brand-resize mb-3">
                <img src={Branding.src} alt="Ilustración sobre diseño" />
              </div>
              <a href="#branding-scroll" class="link-scroller"> Branding </a>
              <p class="text-muted mb-6 mb-md-0">
                Diseñamos el futuro de tu negocio con estrategia y creatividad.
              </p>
            </div>
            <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">
              <div class="icon-continer mb-3">
                <img src={Rocket.src} alt="Ilustración de un cohete" />
              </div>
              <a href="#video-scroll" class="link-scroller">
                Producción Audiovisual
              </a>
              <p class="text-muted mb-6 mb-md-0">
                "Luces, Cámara, Acción": Potenciamos tu Mensaje con Videos
                Espectaculares.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-8 pt-md-11 bg-gray-200">
      <div class="container">
        <div
          class="row align-items-center justify-content-between flex-sm-column-reverse flex-column-reverse flex-md-row pb-8 pb-md-11"
        >
          <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">
            <!-- Heading -->
            <h2>
              Creamos tu pagina web<br /><span class="lab-font-color"
                >Una web para
              </span><span
                class="lab-font-color"
                data-typed='{"strings": ["tu Empresa...", "tu Proyecto...", "ti..."]}'
              ></span>
            </h2>
            <!-- Text -->
            <p class="fs-lg text-muted mb-6">
              "En un mundo digitalizado, tu presencia en línea es fundamental.
              Es por eso que en
              <span class="lab-font-color">LabStudio</span> Creamos sitios web impactantes
              y a tu medida que no solo destacan en Internet, sino que también ayudan
              a conectarte de manera efectiva con tus clientes, Creando una presencia
              digital más efectiva lo que se traduce en mas ventas para tu negocio."
            </p>

            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="d-flex">
                  <div
                    class="badge soft-lab-back-color lab-font-color badge-rounded-circle mt-1 me-4"
                  >
                    <i class="fe fe-check"></i>
                  </div>
                  <p class="lab-font-color">Creativo</p>
                </div>
                <div class="d-flex">
                  <div
                    class="badge soft-lab-back-color lab-font-color badge-rounded-circle mt-1 me-4"
                  >
                    <i class="fe fe-check"></i>
                  </div>
                  <p class="lab-font-color mb-lg-0">Original</p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-6 mb-md-0">
                <div class="d-flex">
                  <span
                    class="badge soft-lab-back-color lab-font-color badge-rounded-circle mt-1 me-4"
                  >
                    <i class="fe fe-check"></i>
                  </span>
                  <p class="lab-font-color">Funcional</p>
                </div>
                <div class="d-flex">
                  <div
                    class="badge soft-lab-back-color lab-font-color badge-rounded-circle me-1 me-4"
                  >
                    <i class="fe fe-check"></i>
                  </div>
                  <p class="lab-font-color mb-0">Efectivo</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-md-6 col-lg-5 order-md-1"
            data-aos="fade-right"
          >
            <div class="web-s-control">
              <img src={WebTable.src} alt="Imagen de una búsqueda web" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-8 pt-md-11 bg-gray-200" id="web-design-scroll">
      <div class="container pb-8">
        <div class="row align-items-center">
          <div class="col-12 col-md-7 col-lg-6" data-aos="fade-right">
            <h2>
              Diseño de <br /><span class="lab-font-color"
                >Tiendas en linea</span
              >.
            </h2>

            <p class="fs-lg text-muted mb-6">
              "Creamos tu tienda en linea para que tus productos lleguen a
              nuevos clientes"
            </p>

            <div class="d-flex">
              <div class="icon icon-labs">
                <span class="fe fe-eye"></span>
              </div>
              <div class="ms-5">
                <h4 class="mb-1">La primera impresión importa</h4>
                <p class="text-muted mb-6">
                  Entendemos como funciona el mundo digital, es por eso que
                  sabemos mejorar la experiencia de usuario con sitios web
                  atractivos y responsivos.
                </p>
              </div>
            </div>
            <div class="d-flex">
              <div class="icon icon-labs">
                <span class="fe fe-clock"></span>
              </div>
              <div class="ms-5">
                <h4 class="mb-1">Optimizamos tu pagina</h4>
                <p class="text-muted mb-6 mb-md-0 justify-text">
                  Implementamos estrategias de SEO (Search Engine Optimization)
                  para el posicionamiento, visibilidad y relevancia de tu página
                  web mostrándose dentro de las primeras posiciones.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-6">
            <div
              class="w-md-150 w-lg-130 position-relative"
              data-aos="fade-left"
            >
              <div class="img-skewed img-skewed-start">
                <!-- Image -->
                <Image
                  src={Store}
                  class="img-store-size screenshot img-fluid img-skewed-item"
                  alt="Ilustración tienda en linea"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="pb-2 pt-10 d-flex align-items-center flex-column w-100 bg-gray-200"
    >
      <h2 class="display-4 fw-bold pb-6 text-center">Sitios Web</h2>
      <div
        class="d-flex flex-wrap justify-content-center gap-6 w-100 align-items-start"
      >
        <Card
          title="Básico"
          description="Lo básico para tu negocio"
          price="5,499"
          image={""}
          features={[
            "Dominio Personalizado",
            "Hosting Gratis por 1 año",
            "Diseño Personalizado",
            "Certificado SSL",
            "Maps",
            "Botón WhatsApp",
          ]}
          fade={Fade.RIGHT}
        />

        <Card
          title="Landing"
          description="Lo Esencial para tu negocio"
          price="8,999"
          image={""}
          features={[
            "Dominio Personalizado",
            "Hosting Gratis por 1 año",
            "Diseño Personalizado",
            "Certificado SSL",
            "Maps",
            "Botón WhatsApp",
            "Optimización Web & Móvil",
            "Optimización SEO",
          ]}
          fade={Fade.UP}
        />

        <Card
          title="Vip"
          description="Lo que tu negocio se Merece"
          price="12,999"
          image={""}
          features={[
            "Dominio Personalizado",
            "Hosting Gratis por 1 año",
            "Diseño Personalizado",
            "Certificado SSL",
            "Maps",
            "Botón WhatsApp",
            "Optimización Web & Móvil",
            "Optimización SEO",
            "Google Analytics",
            "Animaciones",
            "Integración de video",
          ]}
          fade={Fade.LEFT}
        />
      </div>
    </section>

    <section
      class="pb-2 pt-10 d-flex align-items-center flex-column w-100 bg-gray-200"
    >
      <h2 class="display-4 fw-bold pb-6 text-center">Tiendas En Linea</h2>
      <div
        class="d-flex flex-wrap justify-content-center gap-6 w-100 align-items-start"
      >
        <Card
          title="Mi Tienda"
          description="Lo Esencial para tu negocio"
          price="19,999"
          image={""}
          features={[
            "Dominio Personalizado",
            "Hosting Gratis por 1 año",
            "Diseño Personalizado",
            "Certificado SSL",
            "Optimización Web & Móvil",
            "Optimización SEO",
            "Avisos a Clientes por Email",
          ]}
          fade={Fade.UP}
        />
      </div>
    </section>

    <section class="pt-8 pt-md-11 pb-12 bg-gray-200">
      <div class="container">
        <h2 class="display-4 text-center fw-bold">Mas Soluciones Digitales</h2>
        <div class="col-12 pt-6 d-flex justify-content-center gap-4 flex-wrap">
          <Card
            title="WhatsApp Business"
            description="Convierte cada conversación en una oportunidad de ventas."
            price="5,999"
            image={WhatsappBuisness.src}
            features={[
              "Configuración de Plataforma",
              "Diseño de Catalogo",
              "Hasta 50 Respuestas Rápidas",
              "Etiquetas",
              "Anuncios desde WhatsApp",
              "Implementación",
            ]}
            fade={Fade.RIGHT}
          />

          <Card
            title="Google My Business"
            description="No dejes que tu negocio se pierda en las búsquedas locales."
            price="4,999"
            image={GoogleBusiness.src}
            features={[
              "Verificación de tu Negocio",
              "Configuración del Perfil",
              "Configuración de Tienda",
              "Anuncios en Google",
              "Google Analytics",
              "Posicionamiento SEO",
            ]}
            fade={Fade.LEFT}
          />
        </div>
      </div>
    </section>

    <!-- BRANDS -->
    <div class="py-5 py-md-6 border-bottom" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0" data-aos="fade-up">
            <div class="img-fluid text-gray-600 mb-2 mb-md-0 lab-brand-filter">
              <Image
                loading="lazy"
                src={AlferLogo}
                alt="Logo de la empresa Alfer"
              />
            </div>
          </div>

          <div
            class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0"
            data-aos="fade-up"
            data-aos-delay="50"
          >
            <div class="img-fluid text-gray-600 mb-2 mb-md-0 lab-brand-filter">
              <Image
                loading="lazy"
                src={ValleyLogo}
                alt="Logo de la empresa Valley Farm"
              />
            </div>
          </div>

          <div
            class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0"
            data-aos="fade-up"
            data-aos-delay="150"
          >
            <div class="img-fluid text-gray-600 mb-2 mb-md-0 lab-brand-filter">
              <Image
                loading="lazy"
                src={TonerLogo}
                alt="Logo de la empresa Toner Depot"
              />
            </div>
          </div>

          <div
            class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0"
            data-aos="fade-up"
            data-aos-delay="250"
          >
            <div class="img-fluid text-gray-600 mb-2 mb-md-0 lab-brand-filter">
              <Image
                loading="lazy"
                src={TotalLogo}
                alt="Logo de la empresa Totalplay"
              />
            </div>
          </div>

          <div
            class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0"
            data-aos="fade-up"
            data-aos-delay="350"
          >
            <div class="img-fluid text-gray-600 mb-2 mb-md-0 lab-brand-filter">
              <Image
                loading="lazy"
                src={SavingLogo}
                alt="Logo de la empresa Farmacias del ahorro"
              />
            </div>
          </div>

          <div
            class="col-6 col-sm-4 col-md-2 mb-4 mb-md-0"
            data-aos="fade-up"
            data-aos-delay="450"
          >
            <div class="img-fluid text-gray-600 mb-2 mb-md-0 lab-brand-filter">
              <Image
                loading="lazy"
                src={CyberLogo}
                alt="Logo de la empresa Cybercafe10m"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="video-scroll" class="pt-12 pt-md-13 bg-gray-200">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-12 col-md-5 col-lg-6 order-md-2 d-flex justify-content-center"
            data-aos="fade-left"
          >
            <Image
              loading="lazy"
              src={VideoImage}
              alt="Ilustración sobre Videos"
              class="videos-img-resize img-fluid mb-6 mb-md-0"
            />
          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1">
            <h2>
              <span class="lab-font-color">Marketing digital</span>, el mejor
              aliado de tu negocio.
            </h2>
            <p class="fs-lg text-gray-700 mb-6">
              Soluciones digitales personalizadas para tu negocio. Genera nuevas
              oportunidades con estrategias de marketing digital para acercarte
              a tus clientes.
            </p>
            <div class="d-flex">
              <div class="pe-5">
                <h3 class="mb-0">
                  <span
                    data-countup='{"startVal": 0}'
                    data-to="100"
                    data-aos
                    data-aos-id="countup:in"></span>%
                </h3>
                <p class="text-gray-700 mb-0">Satisfaction</p>
              </div>
              <div class="border-start border-gray-300"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pb-10 pt-12 pt-md-13 bg-gray-200" id="branding-scroll">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-12 col-md-5 col-lg-6 order-md-1 d-flex justify-content-start"
            data-aos="fade-right"
          >
            <img
              loading="lazy"
              src={BrandingImage.src}
              alt="Ilustracion sobre Branding Creativo"
              class="mb-6 mb-md-0 w-100"
            />
          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-2">
            <h2>
              Branding <span class="lab-font-color">Creativo</span>, Resultados <span
                class="lab-font-color">Sorprendentes</span
              >.
            </h2>
            <p class="fs-lg text-gray-700 mb-6">
              La magia del Branding Creativo, es Descubrir Como Elevamos el
              potencial de tu marca a traves de la Innovación y el Diseño.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</IndexLayout>

<style>
  html,
  body {
    scroll-behavior: smooth;
  }

  #map {
    width: 100%;
  }

  .card-best-pricing {
    transform: scale(1.02);
    width: 20.5rem;
    position: relative;
    bottom: 0.6rem;
    transition-property: box-shadow, bottom;
    transition-duration: 0.5s;
  }

  .card-best-pricing:hover {
    bottom: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .card-micro-title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card-micro-title p {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }

  .card-pricing-new {
    width: 20.5rem;
    position: relative;
    bottom: 0;
    transition-property: box-shadow, bottom;
    transition-duration: 0.5s;
    border-radius: 1rem;
  }

  .card-mini-img {
    width: 120px;
    height: auto;
  }

  .title-card-service {
    padding: 0rem 2rem 0rem 2rem;
  }

  .title-card-service h2 {
    font-size: 1.4rem;
    font-weight: 800;
  }

  .content-secondary-card {
    background-color: #f5faff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .padding-card-rl {
    padding: 0rem 2rem 0rem 2rem;
  }

  .list-group-pricing-new {
    list-style: none;
    position: relative;
    left: 1.4rem;
  }

  .card-pricing {
    width: 20.5rem;
    position: relative;
    bottom: 0;
    transition-property: box-shadow, bottom;
    transition-duration: 0.5s;
  }

  .card-pricing:hover {
    bottom: 0.4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .img-card-fixing {
    position: relative;
    left: 1rem;
    height: 140px;
  }

  .img-store-size {
    width: 82%;
  }

  .year-pricing {
    font-size: 1rem;
  }

  .list-group-pricing {
    list-style: none;
  }

  .card-width {
    width: 21rem;
  }

  .card-list-item {
    font-size: 1rem;
  }

  .check-icon {
    width: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-pricing-title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card-pricing-title h5 {
    background-color: #633fb9;
    border-radius: 2rem;
    color: white;
    padding: 6px 22px 5px 22px;
  }

  .bg-labstudio-soft {
    background-color: rgba(128, 0, 255, 0.1);
    color: #7d33ea;
  }

  .before-price {
    position: relative;
    color: #7d33ea;
    top: 1.3rem;
  }

  .before-price h4 {
    text-decoration: line-through;
  }

  .check-icon path {
    stroke: var(--bs-gray-700);
  }

  .web-s-control {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .web-s-control img {
    width: 100%;
  }

  .pricing-ribbon {
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 1;
    text-align: right;
    overflow: hidden;
    height: 10rem;
  }

  .ribbon-body {
    width: 12rem;
    position: relative;
    top: 1rem;
    left: -3.1rem;
    transform: rotate(-45deg);
    padding: 0.6rem;
    background: rgb(47, 7, 199);
    background: linear-gradient(
      90deg,
      rgba(47, 7, 199, 1) 0%,
      rgba(105, 17, 179, 1) 36%,
      rgba(87, 17, 196, 1) 71%,
      rgba(170, 22, 187, 1) 100%
    );
  }

  .img-introduction {
    width: 92%;
  }

  .lab-font-color {
    color: #693572;
  }

  .lab-font-color:hover {
    color: #693572;
  }

  .lab-font-color:active {
    color: #62326b !important;
  }

  .lab-font-color:focus {
    color: #62326b !important;
  }

  .soft-lab-back-color {
    background-color: #530bff14;
  }

  .lab-back-color {
    background-color: #633fb9;
  }

  .lab-back-color:hover {
    background-color: #6f46cf;
  }

  .lab-back-color:active {
    background-color: #6741c0 !important;
  }

  .button-knowus:active {
    background-color: rgba(51, 94, 234, 0.1) !important;
  }

  .icon-labs {
    color: #6039bd;
    font-size: 1.6rem;
  }

  .icon-continer {
    height: 100px;
  }

  .brand-resize img {
    height: 122% !important;
  }

  .icon-continer img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  .videos-img-resize {
    width: 60%;
  }

  .lab-brand-filter img {
    filter: hue-rotate(90deg) grayscale(100%);
  }

  .justify-text {
    text-align: justify;
  }

  .link-scroller {
    text-shadow: #c3aaff 2px 2px 4px;
    font-size: 1.2rem;
    color: #633fb9;
  }

  .link-scroller:hover {
    color: #633fb9;
    text-decoration: none;
  }

  @media (max-width: 992px) {
    .videos-img-resize {
      width: 72%;
    }
  }

  @media (max-width: 767px) {
    .videos-img-resize {
      width: 52%;
    }

    .web-s-control img {
      width: 70%;
    }
  }
</style>
