---
// components
import IndexLayout from "../layouts/IndexLayout.astro";
import Nav from "../components/shared/Nav.astro";
import Footer from "../components/shared/Footer.astro";
import WhatsApp from "../components/shared/WhatsApp.astro";
import Card from "../components/index/PricingCard.astro";
import ClientCard from "../components/index/ClientCard.astro";

// imagenes
import IntroImage from "../img/labstudio/pageImages/intro-side-icon.webp";
import WebDev from "../img/labstudio/pageImages/webdev-ico.webp";
import Branding from "../img/labstudio/pageImages/branding-ico.webp";
import VideoCamera from "../img/labstudio/pageImages/video-camera-3d.webp";
import WebTable from "../img/labstudio/pageImages/webTable.webp";
import Store from "../img/labstudio/pageImages/store-1.webp";
import GoogleBusiness from "../img/labstudio/pageImages/g-shadow.webp";
import VideoImage from "../img/labstudio/pageImages/videos-1.webp";
import BrandingImage from "../img/labstudio/pageImages/creative-branding.webp";
import WhatsappBuisness from "../img/labstudio/pageImages/w-shadow.webp";

// clients logos
import AlferLogo from "../img/brands/brands-alfer.webp";
import ValleyLogo from "../img/brands/brands-valley-farms.webp";
import TonerLogo from "../img/brands/brands-toner.webp";
import TotalLogo from "../img/brands/brands-total.webp";
import SavingLogo from "../img/brands/brands-pharmacy.webp";
import CyberLogo from "../img/brands/brands-cyber.webp";
import CuciiLogo from "../img/brands/brands-cucii.png";

---

<IndexLayout
  title="LABSTUDIO | Marketing Digital"
  ogTitle="LABSTUDIO | Marketing Digital"
  description="En Labstudiomedia ofrecemos servicios de fotografía profesional, producción de video, desarrollo web personalizado y videos aéreos con dron. Nuestro enfoque centrado en el cliente y nuestra pasión por la creatividad nos distinguen. Con cada proyecto, nos comprometemos a brindar soluciones creativas que impulsen el éxito de tu marca. "
  ogDescription="En Labstudiomedia ofrecemos servicios de fotografía, producción de video, desarrollo web y videos aéreos con dron en Los Mochis, Sinaloa. Destaca con nuestra experiencia en medios digitales. Contáctanos hoy."
  keywords="Fotografía profesional, Servicios fotográficos en Los Mochis, Fotógrafo en Sinaloa, Sesiones fotográficas creativas, Fotografía de productos, Producción de video en Los Mochis, Videos corporativos, Edición de video profesional, Producción audiovisual en Sinaloa, Videos promocionales creativos, Diseño web personalizado, Desarrollo de sitios web en Los Mochis, Agencia de diseño web en Sinaloa, Desarrollo web responsive, Creación de tiendas en línea, Videos aéreos en Los Mochis, Filmación con dron en Sinaloa, Servicios de dron para eventos, Fotografía aérea profesional, Videos panorámicos con dron, Desarrollo de apps web en Los Mochis, Creación de aplicaciones web personalizadas, Desarrollo de software a medida, Aplicaciones web para negocios, Desarrollo de aplicaciones móviles web"
>
  <Nav />
  <main>
    <section class="pt-4 pt-md-11">
      <div class="container">
        <div class="row align-items-center">
          <div class="intro-image-container col-12 col-md-5 col-lg-5 order-md-2">
            <img
              id="welcome-image"
              src={IntroImage.src}
              alt="Ilustracion de introducción en la portada"
              class="img-introduction img-fluid mb-6 mb-md-0"
            />
          </div>
          <div class="col-12 col-md-7 col-lg-7 order-md-1">
            <h1 class="text-center text-md-start">
              Potenciamos tu presencia <br>digital transformando ideas <br>en contenidos digitales con <span class="lab-font-color">desarrollo web</span>, <span class="lab-font-color">video</span> y <span class="lab-font-color">branding</span>
            </h1>
            <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
              Quitate el miedo de aumentar tus ventas, por que es lo peor que puede pasar!
            </p>
            <div class="text-center text-md-start">
              <a
                href="https://wa.me/526681057964"
                target="_blank"
                class="btn lab-back-color shadow me-1 text-light"
              >
                Mas Información <i
                  class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
              </a>
              <a
                href="https://www.tiktok.com/@labstudio.media"
                target="_blank"
                class="btn btn-primary-soft lab-font-color-btn button-knowus"
              >
                Conócenos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="py-10 py-md-11">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 services-intro" data-aos="fade-up" data-aos-duration="600">
              <div class="service-card">
                <div class="icon-continer mb-3">
                  <img src={WebDev.src} alt="Ilustración sobre una pagina web" />
                </div>
                <a href="#web-design-scroll" class="link-scroller">
                  Desarrollo Web
                </a>
                <p class="text-muted mb-0">
                  Desarrollamos tu sitio web de tu negocio para que llegues a
                  nuevos clientes.
                </p>
              </div>
            </div>
            <div class="col-12 col-md-4 services-intro" data-aos="fade-up" data-aos-duration="600" data-aos-delay="50">
              <div class="service-card">
                <div class="icon-continer mb-3">
                  <img src={Branding.src} alt="Ilustración sobre diseño" />
                </div>
                <a href="#branding-scroll" class="link-scroller"> Branding </a>
                <p class="text-muted mb-6 mb-md-0">
                  Diseñamos el futuro de tu negocio con estrategia y creatividad.
                </p>
              </div>
            </div>
            <div class="col-12 col-md-4 services-intro" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
              <div class="service-card">
                <div class="icon-continer mb-3">
                  <img src={VideoCamera.src} alt="Ilustración de un cohete" />
                </div>
                <a href="#video-scroll" class="link-scroller">
                  Producción Audiovisual
                </a>
                <p class="text-muted mb-6 mb-md-0">
                  "Luces, Cámara, Acción": Potenciamos tu Mensaje con Videos
                  Espectaculares.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row align-items-center justify-content-between flex-sm-column-reverse flex-column-reverse flex-md-row pb-8 pb-md-11">
          <div class="col-12 col-md-6 order-md-2">
            <h2>
              Creamos tu pagina web<br />Una web para
              <span
                id="for-your-text"
                class="lab-font-color"
                data-typed='{"strings": ["tu Empresa...", "tu Proyecto...", "tu Marca...", "ti..."]}'
              >
              </span>
            </h2>
            <p class="fs-lg text-muted mb-6">
              En un mundo digitalizado, tu presencia en línea es fundamental.
              Es por eso que en
              <span class="lab-font-color">LabStudio</span> Creamos sitios web impactantes
              y a tu medida que no solo destacan en Internet, sino que también ayudan
              a conectarte de manera efectiva con tus clientes, Creando una presencia
              digital más efectiva lo que se traduce en mas ventas para tu negocio.
            </p>

            <div class="row checks-container">
              <div class="col-12 col-lg-6">
                <div class="d-flex">
                  <div data-aos="zoom-in" data-aos-duration="100" data-aos-easing="ease-in-out" class="badge soft-lab-back-color lab-font-color badge-rounded-circle mt-1 me-4 check-boing">
                    <i class="fe fe-check"></i>
                  </div>
                  <p class="lab-font-color">Creativo</p>
                </div>
                <div class="d-flex">
                  <div data-aos="zoom-in" data-aos-duration="100" data-aos-easing="ease-in-out" data-aos-delay="50" class="badge soft-lab-back-color lab-font-color badge-rounded-circle mt-1 me-4 check-boing">
                    <i class="fe fe-check"></i>
                  </div>
                  <p class="lab-font-color mb-lg-0">Original</p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-6 mb-md-0">
                <div class="d-flex">
                  <span data-aos="zoom-in" data-aos-duration="100" data-aos-easing="ease-in-out" data-aos-delay="100" class="badge soft-lab-back-color lab-font-color badge-rounded-circle mt-1 me-4 check-boing">
                    <i class="fe fe-check"></i>
                  </span>
                  <p class="lab-font-color">Funcional</p>
                </div>
                <div class="d-flex">
                  <div data-aos="zoom-in" data-aos-duration="100" data-aos-easing="ease-in-out" data-aos-delay="150" class="badge soft-lab-back-color lab-font-color badge-rounded-circle me-1 me-4 check-boing">
                    <i class="fe fe-check"></i>
                  </div>
                  <p class="lab-font-color mb-0">Efectivo</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-5 order-md-1">
            <div class="web-s-control">
              <img src={WebTable.src} alt="Imagen de una búsqueda web" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-8 pt-md-11" id="web-design-scroll">
      <div class="container pb-8">
        <div class="row align-items-center">
          <div class="col-12 col-md-7 col-lg-6">
            <h2>
              Creamos tu<br /><span class="lab-font-color"
                >Tienda en linea</span
              >
            </h2>

            <p class="fs-lg text-muted mb-6">
              Tu negocio puede llegar a clientes en todo el mundo, no solo localmente.
            </p>

            <div class="d-flex">
              <div id="eye-pages" class="icon icon-labs">
                <span class="fe fe-eye"></span>
              </div>
              <div class="ms-5">
                <h3 class="mb-1 h4">La primera impresión importa</h3>
                <p class="text-muted mb-6">
                  Entendemos como funciona el mundo digital, es por eso que
                  sabemos mejorar la experiencia de usuario con sitios web
                  atractivos y responsivos.
                </p>
              </div>
            </div>
            <div class="d-flex">
              <div id="clock-pages" class="icon icon-labs">
                <span class="fe fe-clock"></span>
              </div>
              <div class="ms-5">
                <h3 class="mb-1 h4">Optimizamos tu pagina</h3>
                <p class="text-muted mb-6 mb-md-0 justify-text">
                  Google favorece los sitios web con diseño responsivo, ya que ofrecen una mejor experiencia de usuario. Esto puede traducirse en una clasificación más alta en los resultados de búsqueda, lo que aumenta la visibilidad de tu negocio!
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-6">
            <div class="position-relative">
              <div class="img-skewed img-skewed-start">
                <img
                  loading="lazy"
                  src={Store.src}
                  class="img-store-size screenshot img-fluid img-skewed-item"
                  alt="Ilustración tienda en linea"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pb-2 pt-10 d-flex align-items-center flex-column w-100">
      <h2 class="display-4 fw-bold pb-6 text-center">Sitios Web</h2>
      <div class="d-flex flex-wrap justify-content-center gap-6 w-100 align-items-start" data-aos="fade-up">
        <Card
          title="Básico"
          description="Lo básico para tu negocio"
          whatsAppMessage="Hola LabStudio, estoy interesado en el paquete Básico para mi página web!!"
          price="8,499"
          image={null}
          features={[
            "Dominio Gratis por 1 año",
            "Hosting Gratis por 1 año",
            "Diseño Personalizado",
            "Certificado SSL",
            "Maps",
            "Botón WhatsApp",
            "Optimización Web & Móvil",
            "Soporte Básico"
          ]}
        />

        <Card
          title="Landing"
          description="Lo Esencial para tu negocio"
          whatsAppMessage="Hola LabStudio, estoy interesado en el paquete Landing para mi página web!!"
          price="12,999"
          image={null}
          features={[
            "Dominio Gratis por 1 año",
            "Hosting Gratis por 1 año",
            "Diseño Personalizado",
            "Certificado SSL",
            "Maps",
            "Botón WhatsApp",
            "Optimización Web & Móvil",
            "Soporte Avanzado",
            "Links a tus Redes Sociales",
            "10 Cuentas de Correo",
            "Optimización SEO",
          ]}
        />

        <Card
          title="Vip"
          description="Lo que tu negocio se Merece"
          whatsAppMessage="Hola LabStudio, estoy interesado en el paquete VIP para mi página web!!"
          price="15,999"
          image={null}
          features={[
            "Dominio Gratis por 1 año",
            "Hosting Gratis por 1 año",
            "Diseño Personalizado",
            "Certificado SSL",
            "Maps",
            "Botón WhatsApp",
            "Optimización Web & Móvil",
            "Soporte Premium",
            "Links a tus Redes Sociales",
            "20 Cuentas de Correo",
            "Optimización SEO",
            "Blog",
            "Google Analytics",
            "Animaciones",
            "Integración de video",
          ]}
        />
      </div>
    </section>

    <section class="pb-2 pt-10 d-flex align-items-center flex-column w-100" >
      <h2 class="display-4 fw-bold pb-6 text-center">Tiendas En Linea</h2>
      <div class="d-flex flex-wrap justify-content-center gap-6 w-100 align-items-start" data-aos="fade-up">
        <Card
          title="Mi Tienda"
          description="Lo Esencial para tu negocio"
          whatsAppMessage="Hola LabStudio, estoy interesado en el paquete Mi Tienda para mi página tienda en linea!!"
          price="19,999"
          image={null}
          features={[
            "Dominio Personalizado",
            "Hosting Gratis por 1 año",
            "Diseño Personalizado",
            "Certificado SSL",
            "Optimización Web & Móvil",
            "Optimización SEO",
            "Avisos a Clientes por Email",
          ]}
        />
      </div>
    </section>

    <section class="pb-12 pt-10 d-flex align-items-center flex-column w-100">
      <div class="container">
        <h2 class="display-4 text-center fw-bold">Mas Soluciones Digitales</h2>
        <div class="col-12 pt-6 d-flex justify-content-center gap-6 flex-wrap" data-aos="fade-up">
          <Card
            title="WhatsApp Business"
            description="Convierte cada conversación en una oportunidad de ventas."
            whatsAppMessage="Hola LabStudio, estoy interesado en el servicio de WhatsApp Business!!"
            price=""
            image={WhatsappBuisness}
            features={[
              "Configuración de Plataforma",
              "Diseño de Catalogo",
              "Hasta 50 Respuestas Rápidas",
              "Etiquetas",
              "Anuncios desde WhatsApp",
              "Implementación",
            ]}
          />

          <Card
            title="Google My Business"
            description="No dejes que tu negocio se pierda en las búsquedas locales."
            whatsAppMessage="Hola LabStudio, estoy interesado en el servicio de Google My Business!!"
            price=""
            image={GoogleBusiness}
            features={[
              "Verificación de tu Negocio",
              "Configuración del Perfil",
              "Configuración de Tienda",
              "Anuncios en Google",
              "Google Analytics",
              "Posicionamiento SEO",
            ]}
          />
        </div>
      </div>
    </section>

    <!-- BRANDS -->
    <div class="py-5 py-md-10">
      <div class="">
        <h2 class="brands-h2 text-center mb-2">Nuestros clientes</h2>
        <p class="text-muted text-center pb-1">Estamos orgullosos de trabajar con algunas de las mejores empresas de la industria</p>
        <div class="row align-items-center justify-content-center">

          <ClientCard imageSrc={AlferLogo} delay={0}/>
          <ClientCard imageSrc={ValleyLogo} delay={50}/>
          <ClientCard imageSrc={TonerLogo} delay={100}/>
          <ClientCard imageSrc={TotalLogo} delay={150}/>
          <ClientCard imageSrc={SavingLogo} delay={200}/>
          <ClientCard imageSrc={CyberLogo} delay={250}/>
          <ClientCard imageSrc={CuciiLogo} delay={300}/>

        </div>
      </div>
    </div>

    <section id="video-scroll" class="pt-11">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="300">
            <img
              loading="lazy"
              src={VideoImage.src}
              alt="Ilustración sobre Videos"
              class="videos-img-resize img-fluid mb-6 mb-md-0"
              style="aspect-ratio:0.5845/1"
            />
          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up" data-aos-duration="300" data-aos-delay="50">
            <h2>
              <span class="lab-font-color">Marketing digital</span>, el mejor
              aliado de tu negocio
            </h2>
            <p class="fs-lg text-gray-700 mb-6">
              Tu negocio necesita identificar los lugares de oportunidad para explotar su potencial en el mundo online. Generamos nuevas oportunidades con estrategias de marketing digital para acercarte a con mas clientes.
            </p>
            <div class="d-flex">
              <div class="pe-5">
                <h3 class="mb-0">
                  <span data-countup="{&quot;startVal&quot;: 0}" data-to="100"></span>%
                </h3>
                <p class="text-gray-700 mb-0">Compromiso</p>
              </div>
              <div class="pe-5">
                <h3 class="mb-0">
                  <span data-countup="{&quot;startVal&quot;: 0}" data-to="100"></span>%
                </h3>
                <p class="text-gray-700 mb-0">Satisfaction</p>
              </div>
              <div class="border-start border-gray-300"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pb-10 pt-11" id="branding-scroll">
      <div class="container pb-6">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-1 d-flex justify-content-start" data-aos="fade-up" data-aos-duration="300" data-aos-delay="50">
            <img
              loading="lazy"
              src={BrandingImage.src}
              alt="Ilustracion sobre Branding Creativo"
              class="mb-6 mb-md-0 w-100 h-auto"
              style="aspect-ratio: 1.607/1"
            />
          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-2" data-aos="fade-up" data-aos-duration="300">
            <h2>
              Video <span class="lab-font-color">Creativo</span>
            </h2>
            <p class="fs-lg text-gray-700 mb-6">
              Sabias que un tercio de toda la actividad en linea de los usuarios se enfoca en ver videos?
              lo que significa que si no te estas comunicando en video, no te estan viendo!
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer useMap={true} />
  <WhatsApp />
</IndexLayout>

<style>

  h1 {
    font-size: 2.5rem;
    text-align: left;
  }

  @media only screen and (max-width: 991px) {
    h1 br {
      display: none;
    }
    h1 {
      font-size: 2.2rem;
      text-wrap: balance;
    }
  }

  .brands-h2 {
    font-size: 2.7rem;
    font-weight: bold;
  }

  .service-card {
    /* padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.6rem rgb(0 0 0 / 3%); */
  }

  .service-card p {
    font-size: 1rem; 
  }

  .services-intro {

  }

  .card-best-pricing {
    transform: scale(1.02);
    width: 20.5rem;
    position: relative;
    bottom: 0.6rem;
    transition-property: box-shadow, bottom;
    transition-duration: 0.5s;
  }

  .card-best-pricing:hover {
    bottom: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .card-micro-title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card-micro-title p {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }

  .card-mini-img {
    width: 120px;
    height: auto;
  }

  .title-card-service {
    padding: 0 2rem 0 2rem;
  }

  .title-card-service h2 {
    font-size: 1.4rem;
    font-weight: 800;
  }

  .content-secondary-card {
    background-color: #f5faff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .padding-card-rl {
    padding: 0 2rem 0 2rem;
  }

  .list-group-pricing-new {
    list-style: none;
    position: relative;
    left: 1.4rem;
  }

  .img-card-fixing {
    position: relative;
    left: 1rem;
    height: 140px;
  }

  .img-store-size {
    width: 82%;
  }

  .year-pricing {
    font-size: 1rem;
  }

  .list-group-pricing {
    list-style: none;
  }

  .card-list-item {
    font-size: 1rem;
  }

  .check-icon {
    width: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-labstudio-soft {
    background-color: rgba(128, 0, 255, 0.096);
    color: #633fb9;
  }

  .before-price {
    position: relative;
    color: #7d33ea;
    top: 1.3rem;
  }

  .before-price h4 {
    text-decoration: line-through;
  }

  .check-icon path {
    stroke: var(--bs-gray-700);
  }

  .web-s-control {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .web-s-control img {
    width: 100%;
    height: auto;
  }

  .pricing-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: right;
    overflow: hidden;
    height: 10rem;
  }

  .ribbon-body {
    width: 12rem;
    position: relative;
    top: 1rem;
    left: -3.1rem;
    transform: rotate(-45deg);
    padding: 0.6rem;
    background: rgb(47, 7, 199);
    background: linear-gradient(
      90deg,
      rgba(47, 7, 199, 1) 0%,
      rgba(105, 17, 179, 1) 36%,
      rgba(87, 17, 196, 1) 71%,
      rgba(170, 22, 187, 1) 100%
    );
  }

  .img-introduction {
    width: 92%;
    aspect-ratio: 1/1;
  }

  .lab-font-color, .lab-font-color-btn {
    color: #633fb9;
  }

  .lab-font-color-btn:hover {
    color: #6e45cc;
  }

  .lab-font-color-btn:active {
    color: #6e45cc !important;
  }

  .lab-font-color-btn:focus {
    color: #6e45cc !important;
  }

  .soft-lab-back-color {
    background-color: #530bff14;
  }

  .icon-labs {
    color: #6039bd;
    font-size: 1.6rem;
  }

  .icon-continer {
    height: 100px;
  }

  .icon-continer img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  .videos-img-resize {
    width: 60%;
  }

  .justify-text {
    text-align: justify;
  }

  .link-scroller {
    font-weight: 600;
    font-size: 1.2rem;
    color: #633fb9;
  }

  .link-scroller:hover {
    color: #633fb9;
    text-decoration: none;
  }

  .button-knowus:active {
    background-color: rgba(51, 94, 234, 0.1) !important;
  }

  @media (max-width: 992px) {
    .videos-img-resize {
      width: 72%;
    }
  }

  @media (max-width: 767px) {
    .videos-img-resize {
      width: 52%;
    }
    .web-s-control img {
      width: 70%;
    }
    .intro-image-container {
      display: flex;
      justify-content: center;
    }
    .img-introduction {
      width: 300px;
    }
    h1 {
      text-wrap: pretty;
    }
  }

  @media (max-width: 538px) {
    h1 {
      font-size: 2rem;
      text-wrap: balance;
    }
    .img-introduction {
      width: 250px;
    }
    .
  }

  @media (max-width: 393px) {
    h1 {
      font-size: 1.8rem;
    }
    
  }

</style>
